# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Entorno/venv
.venv/
env/
*.egg-info/

# Config y credenciales
.env
.env.*.local

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build/paquete
build/
dist/
*.spec
